<h1>izzy works!</h1>

<div>
  <fieldset>
    <legend class="test">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sem quam, blandit condimentum faucibus a, ornare sed nisl. Curabitur et dapibus diam. Praesent ultrices velit vitae elementum auctor. Nunc imperdiet convallis turpis, id sagittis turpis. Donec bibendum erat lacus, eget ullamcorper mi sollicitudin vitae. Nulla in euismod quam, quis volutpat neque. Fusce lobortis lacus a eros mattis blandit. Curabitur a convallis ex, nec euismod enim. Proin bibendum facilisis mattis. Proin varius nec mauris ac accumsan.
      </p>
    </legend>
    <p>
      Hello
    </p>
  </fieldset>
</div>

