<form>
  <h1 *ngIf="checkBox; else notFilled" > {{ formName }} </h1>
  <ng-template #notFilled>
    <h1>Please fill out form</h1>
  </ng-template>
  <div class="form-group">
    <label>Email address</label>
    <input
      type="email"
      class="form-control"
      placeholder="Email"
    (input)="inputUpdateEmail($event)">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="First Name"
      [(ngModel)]="firstName"
      [ngModelOptions]="{standalone: true}">
  </div>
  <ul>
    <li>{{email}}</li>
    <li>{{firstName}}</li>
  </ul>
  <div class="checkbox">
    <label>
      <input type="checkbox" (input)="toggleEditable($event)"> Information Correct
    </label>
  </div>
  <button type="submit"
          class="btn btn-default"
          [disabled]="!allowNewSubmission"
          (click)="submitForm()">Submit</button>
  <h2>{{newMember}}</h2>
</form>
<hr>
<label>Password</label>
<br>
<input
  type="password"
  class="form-control"
  placeholder="password"
  (input)="updatePassword($event)">
<br>
<button
  type="submit"
  class="btn btn-default"
  (click)="toggle()">Display Details</button>
<br>
<br>
<p *ngIf="display"> Your password is: {{password}} </p>
<hr>
<!--<button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>-->
<button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
<p *ngIf="showSecret">Secret Password = tuna</p>
<div
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': i >= 5}"
>{{ logItem }}</div>


